body{

	align-items:center;
	width:150px;
	height:200px;

}

div{
            background-color: white;
            padding: 30px;
            border-radius: 12px;
            box-shadow: 0 0 15px rgba(0,0,0,0.2);
            width: 150px;
	
}
